---
layout: default
title: Harrison Dong
---
<div id="home">
    <h1>Blog Posts</h1>
    <ul class="posts">
        {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h1>Leetcode</h1>
    <ul class="leetcode">
        {% for post in site.leetcode %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h1>USACO</h1>
    <ul class="usaco">
        {% for post in site.usaco %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    
</div>